# virtual environment
venv/

# python cache
__pycache__/
*.pyc

# datasets (too large, download manually)
IN_Places/*
IN_Pin/*

# but keep the folder structure
!IN_Places/.gitkeep
!IN_Pin/.gitkeep
# generated search index (too large, run Training.ipynb to generate)


# jupyter checkpoints
.ipynb_checkpoints/

# os files
.DS_Store
Thumbs.db